.mytheme .dice-view-buttons .v-button-wrap {
	font-size: 40px;
}

.mytheme .dice-image {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	max-width: 100%;
	height: auto;
}

.mytheme .dice-image:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.mytheme .dice-slider .v-slider-handle {
	background: #634b4b;
	width: 40px;
	height: 22px;
	border-radius: 44px;
	margin-top: -9px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 0px;
}

.mytheme .dice-slider .v-slider-base {
	background: #000000;
	height: 16px;
}

.mytheme .dice-slider .v-slider-handle:before {
	content: "";
	position: absolute;
	margin-left: 12px;
	margin-top: 6px;
	background: #c3ae57;
	width: 14px;
	height: 11px;
	border-radius: 4px;
}

.mytheme .dice-banner-1 {
	background-color: #699c6d;
	border-style: ridge;
	border-width: 4px 4px 4px 4px;
}

.mytheme .dice-banner-2 {
	background-color: #11401b;
	border-style: solid;
	border-width: 4px 4px 4px 4px;
}

.mytheme .v-caption-on-top > .v-caption, .mytheme .v-caption-on-bottom > .v-caption {
	display: none;
}

.mytheme .view-background .v-touchkit-navbar {
	background: #3b8c31;
	color: darkslategray;
}

.mytheme .view-background .v-touchkit-verticalcomponentgroup {
	background: #1e3c23;
}

.mytheme .v-label.v-has-width {
	font-size: 24px;
}

.mytheme .v-touchkit-tabbar-toolbar .v-touchkit-toolbar .v-button {
	background: #d0d6b5;
	color: #000000;
}

.mytheme .v-touchkit-tabbar-toolbar .v-touchkit-toolbar .v-button-selected {
	background: #637704;
	color: white;
}

.mytheme .v-touchkit-componentgroup-row:before {
	border-top: 1px solid #d09062;
}

.mytheme .reset-button .v-button-wrap {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	color: darkred;
	background: black;
	border-radius: 12px;
	border-color: transparent;
	width: 50%;
	font-size: x-large;
}

.mytheme .dice-image-stats {
	border: 1px solid #ddd;
	border-radius: 30px;
	padding: 5px;
	max-width: 50%;
	height: auto;
}

.mytheme .stats-row-1 .v-slot .v-slot-stats-row-1 {
	background: palegreen;
	color: cornsilk;
}

.mytheme .stats-row-2 .v-slot .v-slot-stats-row-2 {
	background: green;
	color: cornsilk;
}

.mytheme .random-image {
	border-style: ridge;
	border-width: 6px 6px 6px 6px;
}

.mytheme .v-slot.v-slot-dice-button-roll .v-button {
	background: green;
	margin-top: 10px;
	color: #abe800;
	line-height: 1;
	font-size: 40px;
}

.mytheme .stats-table .v-table-row {
	background: palegreen;
	color: cornsilk;
}

.mytheme .stats-table .v-table-row-odd {
	background: green;
	color: cornsilk;
}

.mytheme .stats-table .v-table-cell-content {
	padding: 0px 7px 0px 6px;
	vertical-align: middle;
}

.mytheme .upload-table .v-table-cell-content {
	padding: 0px 3px 0px 3px;
	vertical-align: middle;
}

.mytheme .upload-table .v-table-cell-content .v-table-cell-wrapper {
	text-align: center !important;
}

.mytheme .upload-table .v-button-wrap {
	font-size: 30px;
}