.mytheme .dice-view-buttons .v-button-wrap {
	font-size: 40px;
}

.mytheme .dice-image {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	max-width: 100%;
	height: auto;
}

.mytheme .dice-image:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.mytheme .dice-slider .v-slider-handle {
	background: #634b4b;
	width: 40px;
	height: 22px;
	border-radius: 44px;
	margin-top: -9px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 0px;
}

.mytheme .dice-slider .v-slider-base {
	background: steelblue;
	height: 16px;
}

.mytheme .dice-slider .v-slider-handle:before {
	content: "";
	position: absolute;
	margin-left: 12px;
	margin-top: 6px;
	background: #ed5931;
	width: 14px;
	height: 11px;
	border-radius: 4px;
}

.mytheme .dice-banner-1 {
	background-color: dodgerblue;
	border-style: ridge;
	border-width: 4px 4px 4px 4px;
}

.mytheme .dice-banner-2 {
	background-color: lightcyan;
	border-style: solid;
	border-width: 4px 4px 4px 4px;
}

.mytheme .v-caption-on-top > .v-caption, .mytheme .v-caption-on-bottom > .v-caption {
	display: none;
}

.mytheme .view-background .v-touchkit-navbar {
	background: aliceblue;
}

.mytheme .view-background .v-touchkit-verticalcomponentgroup {
	background: lightblue;
}

.mytheme .v-label.v-has-width {
	font-size: 24px;
}

.mytheme .v-touchkit-tabbar-toolbar .v-touchkit-toolbar .v-button {
	background: lightskyblue;
}

.mytheme .v-touchkit-tabbar-toolbar .v-touchkit-toolbar .v-button-selected {
	background: darkblue;
}

.mytheme .v-touchkit-componentgroup-row:before {
	border-top: 1px solid #ef2525;
}

.mytheme .reset-button .v-button-wrap {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
}

.mytheme .dice-image-stats {
	border: 1px solid #ddd;
	border-radius: 30px;
	padding: 5px;
	max-width: 50%;
	height: auto;
}

.mytheme .stats-row-1 .v-slot .v-slot-stats-row-1 {
	background: palegreen;
	color: cornsilk;
}

.mytheme .stats-row-2 .v-slot .v-slot-stats-row-2 {
	background: green;
	color: cornsilk;
}

.mytheme .random-image {
	border-style: ridge;
	border-width: 6px 6px 6px 6px;
}